fastapi
uvicorn
pydantic
requests
ollama
opensearch-py
pdfplumber 
langchain
langchain-core
langchain-ollama
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
fastembed
pdfplumber
sentence-transformers
elevenlabs
streamlit
PyPDF2
numpy
